

.container{
    height: auto;
    display: grid;
    grid-template: 12rem/20rem;
    justify-content: center;
    gap: 5px;
}
.box{
    height: 12rem;
    width: 20rem;
    background: indigo;
    border-radius: 20px;
    
}






@media screen and (min-width:700px) {

    .container{
        display: grid;
        grid-template: 8rem/repeat(2,18rem);
        justify-content: center;
        gap: 5px;
    }

    .box{
        height: 8rem;
        width: 18rem;
        background: indigo;


        
        border-radius: 20px;
        
    }
    
}
@media screen and (min-width:900px) {

    .container{
        display: grid;
        grid-template: 6rem/repeat(3,16rem);
        justify-content: center;
        gap: 5px;
    }
    .box{
        height: 6rem;
        width: 16rem;
        background: indigo;
        border-radius: 20px;
        
    }
    
}
@media screen and (min-width:1100px) {
    .container{
        display: grid;
        grid-template: 10rem/repeat(4,15rem);
        justify-content: center;
        gap: 5px;
    }
    .box{
        height: 10rem;
        width: 15rem;
        background: indigo;
        border-radius: 20px;
        
    }
    
}
